{% extends 'main.html' %}

{% block content %}

{% load static %}
<div class="container">
  <div style="background-color: #dbdada; padding: 0;">

    <div data-width-multiplier="1" data-responsive-image-group="true" style="background-repeat: no-repeat; background-size: 
      cover; min-height: 200px;background-image: linear-gradient(270deg, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.6) 100%), 
      url('{% static 'images/pexels-davidmcbee-395537.jpg' %}'); background-position: center center; height: 50vh;" 
      class="bg-contrast-med page-section border-0" data-name="background-page-title.1-1">
      <div class=" container-max-md page-section" data-name="title-container-2">
        <div class="ddc-content content-page-title bg-transparent" data-widget-name="content-page-title" data-widget-id="page-title2">
          <h1 class="font-weight-bold bg-transparent spacing-reset text-white ddc-page-title">About Best Buy Auto Greensboro</h1>
        </div>
      </div>		
    </div>
  
    <a href="">
      <button style="padding: 10px 20px; font-size: 16px;">Shop Inventory</button>
    </a>
      
  </div>
  
  {% include 'user/store_hours.html' %}
</div>

{% endblock content %}