
<div class="info-direction-room">
    <div class="maps" id="firstDiv">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3831.
        173857600384!2d-79.9131398269278!3d36.151455812119444!2m3!1f0!2f0!3f0!3m2
        !1i1024!2i768!4f13.1!3m3!1m2!1s0x88531d304bcb3e53%3A0xa7e2375ebb75b33f!2s
        5791%20Highland%20Grove%20Dr%2C%20Summerfield%2C%20NC%2027358!5e0!3m2!1sen
        !2sus!4v1735282601688!5m2!1sen!2sus" width="100%" height="650" style="border:0;" 
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
    </div>

    <div class="maps-overlay" id="secondDiv">
        <div class="info-card">
            <div class="info-card-top-box">
                <h3 class="display-4 widget-heading">Get in touch</h3>
                <div class="vcard">
                    <ul class="tels two-line-phone list-unstyled">
                        <li class="tel phone1 " data-click-to-call="Contact our Store at" data-click-to-call-phone="336-215-4185" tabindex="0">
                            <span class="text-black type">Contact our Store at</span>
                            <span class="separator">:</span>
                            <span class=""><a href="tel:+13362154185">336-215-4185</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info-card-bottom-box">
                <ul class="info-card-bottom-box-text">
                    <li>
                        <span class="">Monday</span>
                        <span class="text-right">9:00am - 7:00pm </span>
                    </li>
                    <li>
                        <span class="">Tuesday</span>
                        <span class="text-right">9:00am - 7:00pm </span>
                    </li>
                    <li>
                        <span class="">Wednesday</span>
                        <span class="text-right">9:00am - 7:00pm </span>
                    </li>
                    <li>
                        <span class="">Thursday</span>
                        <span class="text-right">9:00am - 7:00pm </span>
                    </li>
                    <li>
                        <span class="">Friday</span>
                        <span class="text-right">9:00am - 7:00pm </span>
                    </li>
                    <li>
                        <span class="">Saturday</span>
                        <span class="text-right">9:00am - 6:00pm </span>
                    </li>
                    <li>
                        <span class="">Sunday</span>
                        <span class="text-right">Closed</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'user/store_hours.html' %}
</div>
