<div class="info-section-container">

    <div class="info-section">

        <div class="info-aboutUs">
            <h1>About Us</h1>
            <p>
                <small>
                    With years of experience, we have been serving the local area with high quality, pre-owned vehicles to our customers.
                    Whether it's a Lexus, Toyota, Mercedes, we know you'll be happy with your purchase from Best Buy Auto.
                </small>
            </p>
        </div>
    
        <div class="info-openHour">
            <h1>Open Hours</h1>
            <div class="schedule">
                <div class="info-card-bottom-box">
                        <ul class="info-card-bottom-box-text">
                            <small>
                                <li>
                                    <span class="">Monday</span>
                                    <span class="text-right">9:00am - 7:00pm </span>
                                </li>
                                <li>
                                    <span class="">Tuesday</span>
                                    <span class="text-right">9:00am - 7:00pm </span>
                                </li>
                                <li>
                                    <span class="">Wednesday</span>
                                    <span class="text-right">9:00am - 7:00pm </span>
                                </li>
                                <li>
                                    <span class="">Thursday</span>
                                    <span class="text-right">9:00am - 7:00pm </span>
                                </li>
                                <li>
                                    <span class="">Friday</span>
                                    <span class="text-right">9:00am - 7:00pm </span>
                                </li>
                                <li>
                                    <span class="">Saturday</span>
                                    <span class="text-right">9:00am - 6:00pm </span>
                                </li>
                                <li>
                                    <span class="">Sunday</span>
                                    <span class="text-right">Closed</span>
                                </li>
                            </small>
                        </ul>
                </div>
            </div>
        </div>
    
        <div class="info-contact">
            <div>
                <h1>Contact</h1>
            </div>
            <div class="">
                <small>
                    <a href="/directions/" style="color: #fff;"><span class="material-symbols-sharp">location_on</span></a>
                <a href="/directions/" style="color: #fff;"> 5791 Highland Groove Dr, Summerfield, NC 27358</a><br>
                <a href="tel:+13362154185"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M744-481q0-109-77.5-186.5T480-745v-72q70 0 131 26.5t106.5 72Q763-673 789.5-612T816-481h-72Zm-144 0q0-50-35-85t-85-35v-72q80 0 136 56t56 136h-72Zm163 336q-121-9-229.5-59.5T339-341q-86-86-136-194.5T144-765q-2-21 12.5-36.5T192-817h136q17 0 29.5 10.5T374-780l24 107q2 13-1.5 25T385-628l-97 98q20 38 46 73t58 66q30 30 64 55.5t72 45.5l99-96q8-8 20-11.5t25-1.5l107 23q17 5 27 17.5t10 29.5v136q0 21-16 35.5T763-145Z"/></svg>336-215-4185</a><br>
                <a href="/"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#1f1f1f"><path d="M168-192q-29 0-50.5-21.5T96-264v-432q0-29 21.5-50.5T168-768h624q30 0 51 21.5t21 50.5v432q0 29-21 50.5T792-192H168Zm312-240 312-179v-85L480-517 168-696v85l312 179Z"/></svg>bestbuyauto@gmail.com</a>
                </small>
            </div>
        </div>
    
    </div>
</div>